body {
    font-family: Arial, Helvetica, sans-serif;
    color:brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
}

.media img, .media video {
    height: 300px;
    border-radius: 10px;
}

video {
    width: auto;
}

img {
    width: auto;
    filter: grayscale(100%);
}

button {
    padding: 10px 20px;
    background-color: #f4a300;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e39600;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.avatar img {
    filter: grayscale(0%);
    display: none;
    width: 30%;
    height: auto;
    margin-top: 20px;
}